<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.uservaultd</string>
	<key>com.apple.keystore.device</key>
	<true/>
	<key>com.apple.private.diskarbitrationd.access</key>
	<true/>
	<key>com.apple.private.sandbox.profile:embedded</key>
	<string>temporary-sandbox</string>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/private/var/PersonalDeviceVolumes/</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.uservault</string>
	</array>
	<key>com.apple.security.ts.tmpdir</key>
	<string>com.apple.uservaultd</string>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>com.apple.uservault</string>
	</array>
	<key>platform-application</key>
	<true/>
</dict>
</plist>
